/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400&family=Oswald:wght@300;600&display=swap');

/* Global style */

body {
    background-color: green;
    padding: 40px 10% 0 10%;
    font-family: "montserrat", sans-serif;
    color: white;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Game layout */

.game-area {
    background-color: white;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

#question {
    color: white;
    background-color: black;
    width: 55%;
    margin: auto;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    font-weight: bold;
}

#incorrect {
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* Buttons */

.btn {
    width: 180px;
    height: 60px;
    letter-spacing: 1.2px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.btn:hover {
    border: 3px solid gold;
}

#start, #next {
    width: 90px;
    height: 30px;
    letter-spacing: 1.2px;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

#start:hover, #next:hover {
    border: 3px solid gold;
}

/* Media queries */
@media (max-width: 576px) {
    .btn {
        width: 100px;
        height: 40px;
        letter-spacing: normal;
        font-size: 0.8rem;
    }

    .heading {
        font-size: 1.6rem;
    }

    #answer-buttons {
        display: grid;
        grid-template-columns: repeat(1, auto);
        padding-top: 10px;
        margin-top: 10px;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .game-area {
        height: 90vh;
        width: 90%;
        padding: 0.5%;
    }

    #question {
        padding: 3px;
        font-size: 0.8rem;
        width: 70%;
}